 .u-section-1 {
  padding-right: 50px;
  padding-left: 50px;
  min-height: 776px;
}

.u-section-1 .u-text-1 {
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 548px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 40px;
  margin: 25px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -547px calc(((100% - 1140px) / 2)  + 589px) 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 152px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 330px;
    margin-top: -32px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -272px;
    margin-right: calc(((100% - 940px) / 2)  + 320px);
    margin-bottom: -70px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 253px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -195px;
    margin-right: calc(((100% - 720px) / 2)  + 100px);
    margin-bottom: -147px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 467px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 190px;
    margin-top: -52px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -113px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: -210px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-right: 265px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 452px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -616px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 60px;
  }
} .u-section-2 {
  padding-right: 50px;
  padding-left: 50px;
  min-height: 2036px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin: 12px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  margin: 0;
}

.u-section-2 .u-line-2 {
  transform-origin: left center;
  margin: 11px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 11px 0 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.23;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    height: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    font-weight: 400;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 56px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 4px 4px 7px 0 rgba(0,0,0,0.7);
  border-style: solid;
  margin: 6px 1033px 6px 0;
  padding: 10px 22px 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-right: 833px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-right: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-1 {
    margin-right: 433px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-right: 233px;
  }
} .u-section-4 {
  background-repeat: no-repeat;
  background-image: url("images/what_does_she_see.JPG");
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
    min-height: 260px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 183px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 120px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 50px;
  }
}@font-face {
  font-family: 'Nowharehouse';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Nowharehouse.ttf);
}
/* page-custom-fonts */
