 .u-section-1 {
  padding-right: 160px;
  padding-left: 160px;
  min-height: 533px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0;
}@font-face {
  font-family: 'Commodore64';
  src: url('fonts/Commodore64.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'Nowharehouse';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Nowharehouse.ttf);
}
/* page-custom-fonts */
