.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px 18px 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 620px;
  margin: 0 0 0 118px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 0 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 413px;
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0 0 30px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 620px;
  margin: 0 118px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 395px;
    margin-left: 28px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 564px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 439px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 395px;
    width: 130px;
    margin-right: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 100px;
    margin-left: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 432px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 100px;
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 1260px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1260px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 793px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 793px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
  }
}@font-face {
  font-family: 'Commodore64';
  src: url('fonts/Commodore64.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'Nowharehouse';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nowharehouse.ttf);
}
/* page-custom-fonts */
