 .u-section-1 {
  min-height: 656px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px 18px 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 420px;
  margin: 0 0 0 118px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 0 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 413px;
  width: 744px;
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0 0 30px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 423px;
  margin: 0 118px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 395px;
    margin-left: 115px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 439px;
    margin-left: 5px;
    width: 564px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 484px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 395px;
    margin-right: 133px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 150px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 100px;
    margin-left: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 432px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 100px;
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1391px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 876px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 876px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
  }
}@font-face {
  font-family: 'Commodore64';
  src: url('fonts/Commodore64.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'Nowharehouse';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nowharehouse.ttf);
}
/* page-custom-fonts */
